.wrapper {
  width: 1200px;
  margin: 0px auto;
  height: 2000px;
}
.page-header h2 {
  margin-top: 0;
  text-align: center;
}
#ams {
  position: relative;
  border: 0px;
  margin-left: 0px;
  margin-right: 0px;
  top: 0px;
  -moz-box-shadow: 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px;
  box-shadow: 0px 0px 0px;
  width: 100%;

}
