

   <div id='logo' class='center'><img id='ams' src='assets/banner-2.png'></div>
 <div class="wrapper">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-12">
       </div>
       <div class="page-header clearfix">

         <div>
           <h2>
             <p class="intro">
               Asset Management System is a fully integrated solution which allows<br>
               a company to be able to register its assets, record maintenance information <br>
               on the assets located at various facilities.
             </p>
           </h2>

             <div style="text-align: center;">© 2022:
               <a href=""> MSSE-692 - Rolando Santos</a>
             </div>

         </div>
       </div>

     </div>


   </div>
