.snack-container
{
  font-family: RobotoDraft;
  font-size: 20px;
  min-height: 14px;
  background-color: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  line-height: 12px;
  padding: 18px 24px;
  bottom: 0px;
  opacity: 100;

}
.icon
{
  color:rgb(0, 255, 42);
  padding-right:20px;
}
