.table {
width: 80%;
margin: 20px auto
}

button
 {
   margin-right: 20px;
 }

 .header{
   text-align: center;
   width: 80%;
   margin: 20px auto;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .card {
   width: 80%;
  margin: 20px auto
 }
